//for rules

#page
{                                                                                                           
    //background-image: url([[pix:theme_drak|loginbackgroundimage]]);                                                                
    //background-size: cover;     
    background-color: #000000;                                                                                                    
}
#page-header
{
    background-color: #000000;
}
#nav-drawer
{
    background-color: #FBFBFB;
}
#card-body
{
    display:none;
}
.section .activity .activityinstance
{
    min-width: 40%;
}
/*.yui_3_17_2_1_1624446497959_190
{
    background-color: #FBFBFB;
}*/